body {
  font-family: "Roboto", sans-serif;
  color: var(--slate);
  background-color: var(--white);
}
/* colors=========== */
:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy_blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light_slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy_blue_modal: #2e2f42;
  --grey: #2e2f42;
  --white: #fff;
  --dairy: #fcfcfc;
}
/* reset styles */
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.part_logo {
  color: var(--navy_blue);
}
/* ===============navigation */

.navigation {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.nav_link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.nav_link:hover,
.nav_link:focus {
  color: var(--ocean);
}
.address_nav {
  font-style: normal;
}
.address_link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.address_link:hover,
.address_link:focus {
  color: var(--ocean);
}
/* hero======================== */
.hero {
  background-color: var(--navy_blue);
}
.hero_header {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}
.hero_button {
  font-family: "Roboto", sans-serif;
  background-color: var(--iris);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  cursor: pointer;
}
.hero_button:hover,
.hero_button:focus {
  background-color: var(--ocean);
}
/* featuer================================================ */
.feature_header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy_blue);
}
.feature_par {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* team================== */
.team {
  background-color: var(--cloud);
}
.team_header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--navy_blue);
}
.team_item {
  background-color: var(--white);
}
.team_item_header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy_blue);
}
.team_par {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
/* portfolio================== */
.portfolio_header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy_blue);
}
.portfolio_par {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
}
/* footer */
.footer {
  background-color: var(--navy_blue);
}
.part_f {
  color: var(--cloud);
}
.footer_par {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
}
